html {
  height: 200vh;
  background-color: #0e0e10;
  scroll-snap-type: y mandatory;
}

body {
  height: 350vh;
}

canvas {
  position: fixed;
  max-width: 100vw;
}
body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
#nav {
  font-family: "Courier New", Courier, monospace;
  position: fixed;
  z-index: 2;
  right: 0;
  padding: 30px;
  font-size: xx-large;
  font-weight: 1000;
  color: white;
}
#nav span {
  margin: 20px;
  cursor: pointer;
}
#nav span:hover {
  opacity: 0.7;
}
#snap1 {
  display: block;
  top: 1200px;
  position: absolute;
  scroll-snap-align: start;
}
#snap0 {
  display: block;
  top: 0px;
  position: absolute;
  scroll-snap-align: start;
}
